menu "TRNG"
	config TRNG_SUPPORT
		bool "Support hardware TRNG"
		default y

	config TRNG_PM_CB_SUPPORT
		bool "trng pm support"
		default n

	config TRNG_TEST
		depends on TRNG_SUPPORT && DRIVER_TEST
		bool "Enable trng test"
		default y
endmenu
