menu "Window Watchdog"
	config SUPPORT_WWDT
		bool "Enable Window Watchdog"
		default n

	config INT_WWDT_PERIOD_MS
		depends on SUPPORT_WWDT
		int "Interrupt Watchdog Period(ms)"
		default 2000

	config WWDT_TEST
		depends on SUPPORT_WWDT && DRIVER_TEST
		bool "Enable window watchdog test"
		default y
endmenu

