menu "SPI"
    #TODO optimize SPI_DMA and GENERAL_DMA when optimize driver
	config SPI
		bool "SPI ENABLE"
		default y

	config SOC_SPI_UNIT_NUM
		int "Number of SPI units (1-4)"
		depends on SPI
		range 1 4
		default 2
		help
			Number of SPI units supported by the hardware.
			Valid values: 1, 2, 3, or 4.

	config SPI_DMA
		bool "Enable SPI DMA"
		default y

	config SPI_STATIS
		bool "Enable SPI Statis"
		default n

	config SPI_SUPPORT_TX_FIFO_WR_READY
		bool "Support TX FIFO Write Ready"
		default y

	config SPI_MST_FLASH
		bool "SPI Flash"
		depends on SPI
		default n
		help
			BEKEN Chip sets SPI interface as a master device, the slave device is a flash,
			then BEKEN Chip can access the flash with SPI interface.
			The application can read/writes data to flash directly by SPI Flash API,
			or reads/writes by file system API if enable relates macro, I.E. CONFIG_FATFS, CONFIG_LITTLEFS, CONFIG_VFS...

	config SPI_MST_PSRAM
		bool "SPI MST PSRAM"
		default n

	config SPI_PM_CB_SUPPORT
		bool "SPI PM Support"
		default n

	config SPI_BYTE_INTERVAL
		bool "SPI byte interval"
		default n

	config SPI_TEST
		depends on SPI
		bool "Enable spi test"
		default n

	config SPI_API_TEST
		depends on SPI
		bool "Enable spi api test"
		default n
		help
			Enable spi api test.

endmenu

