#
# BK7259 CP defaults for the Bluetooth DUT test project.
#

CONFIG_BT=y
CONFIG_BLE=y
CONFIG_BTDM_CONTROLLER_ONLY=y
CONFIG_CLI=y
CONFIG_LP_VOL=0x6
# CONFIG_OVERRIDE_VND_CAL is not set
# CONFIG_ATE_TEST is not set