# KCONFIG_GROUP: Multimedia::AVDK Driver
menu "AVDK Driver"

	config ISP
		bool "ISP Drvier"
		default n

	config GPU
		bool "GPU Driver"
	default n

	config MIPI
		bool "MIPI Driver"
	default n

	config MIPI_CSI
		bool "MIPI CSI Driver"
	default n

	config DPU_DRIVER
		bool "Enable display process unit driver"
		default n

	config DSI_DRIVER
		bool "Enable mipi dsi"
		default n
endmenu
