#
# kvs_aws_sample: enable KVS AWS WebRTC component (differences vs board defconfig).
# Build with: make -C projects/kvs_aws_sample
#
CONFIG_KVS_AWS=y
CONFIG_KVS_GET_CA_FROM_ARRAY=y
CONFIG_KVS_AWS_DATA_CHANNEL=y

CONFIG_LIBWEBSOCKETS=y
CONFIG_LIBSRTP=y
CONFIG_USRSCTP=y

CONFIG_CLI=y
#CONFIG_CLI_TASK_STACK_SIZE=12288

CONFIG_DUMP_BY_LOG_UART=y
CONFIG_PSA_MBEDTLS=y
CONFIG_FULL_MBEDTLS=y
CONFIG_SW_CRYPTO=y
CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=16384
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=16384
CONFIG_MBEDTLS_LOG_LEVEL="INFO"
CONFIG_SDCARD=y
CONFIG_FATFS=y
CONFIG_FATFS_SDCARD=y
CONFIG_VFS=y
CONFIG_VFS_TEST=y
# Required by bk_cli/cli_vfs.c (bk_flash_partition_get_info)
CONFIG_FLASH=y
CONFIG_NTP_SYNC_RTC=y
CONFIG_FREERTOS_POSIX=y
CONFIG_MBEDTLS_USE_PSA_CRYPTO=y
CONFIG_KVS_PTHREAD_CANCEL_DETACH=y
CONFIG_MEMDUMP_ALL=y
CONFIG_SHELL_TASK_STACK_SIZE=51200
CONFIG_RTC_NTP_TIMEZONE=0
CONFIG_MBEDTLS_USE_PSRAM=y
CONFIG_TASK_STACK_IN_PSRAM=y
CONFIG_QUEUE_IN_PSRAM=y
CONFIG_SPINLOCK_DYNAMIC_CNT=320
#CONFIG_IPV6=y
CONFIG_TRNG_SUPPORT=y
