#
# Project default config for bk7259 CP side.
# This file contains only differences compared to board defconfig.
#

CONFIG_SOC_SMP=n
CONFIG_FREERTOS_V10=y
CONFIG_FREERTOS_SMP=n
CONFIG_FREERTOS_USE_TICKLESS_IDLE=2

CONFIG_CLI=y
CONFIG_CLI_TASK_PRIO=4
CONFIG_CLI_TASK_STACK_SIZE=1536
CONFIG_WIFI_CLI_ENABLE=y

CONFIG_AT=y
CONFIG_WIFI_AT_ENABLE=y
CONFIG_BT_AT_ENABLE=y
CONFIG_AT_MAX_PORT_CNT=1

CONFIG_BLUETOOTH=y
CONFIG_BTDM_5_2=y
CONFIG_BTDM_CONTROLLER_ONLY=y
CONFIG_BLUETOOTH_BLE_SLAVE_ONLY=y
CONFIG_BLUETOOTH_BLE_DISCOVER_AUTO=y
CONFIG_BLUETOOTH_SUPPORT_IPC=y

CONFIG_PM_ENABLE=y
CONFIG_PM_SUPER_DEEP_SLEEP=y
CONFIG_PM_ENTER_LV_TIME_OUT_PERIOD_MS=30000
CONFIG_PM_V2=y
CONFIG_PM_LV_SUBCORES_ON=y
CONFIG_PM_AP_POWERDOWN_WHEN_LV=y
CONFIG_LDO_SELF_LOW_POWER_MODE_ENA=y
CONFIG_CPU_DEFAULT_FREQ_60M=y
CONFIG_AON_WDT=n
CONFIG_DEEP_LV=y
CONFIG_DEEP_LV_DEBUG=y

CONFIG_WIFI_ENABLE=y
CONFIG_WIFI_TX_RAW_ENABLE=y
CONFIG_WIFI6_CODE_STACK=y
CONFIG_WIFI4=y
CONFIG_WIFI6=y
CONFIG_WIFI6_IP_DEBUG=y
CONFIG_WIFI_AUTO_COUNTRY_CODE=y
CONFIG_WIFI_SCAN_COUNTRY_CODE=y
CONFIG_WIFI_FAST_CONNECT=y
CONFIG_WIFI_VNET_CONTROLLER=y
CONFIG_WIFI_MAC_SUPPORT_STAS_MAX_NUM=2
CONFIG_STA_PS=y

CONFIG_EASY_FLASH=y
CONFIG_EASY_FLASH_V4=y
CONFIG_FLASH=y
CONFIG_FLASH_QUAD_ENABLE=y
CONFIG_FLASH_MB=y
CONFIG_FLASH_TEST=y
CONFIG_FLASH_PARTITION_CHECK_VALID=y

CONFIG_LWIP=y
CONFIG_LWIP_V2_1=y
CONFIG_LWIP_MEM_TRX_DYNAMIC_EN=y
CONFIG_LWIP_MEM_LIBC_MALLOC=y
CONFIG_LWIP_MEMP_MEM_MALLOC=y
CONFIG_LWIP_MEMP_STATS=y
CONFIG_LWIP_MEM_STATS=y
CONFIG_LWIP_UDP_RECVMBOX_SIZE=24
CONFIG_LWIP_MEM_SIZE=51200
CONFIG_LWIP_MEM_MAX_RX_SIZE=38400
CONFIG_LWIP_MEM_MAX_TX_SIZE=42666
CONFIG_LWIP_TCP_MSS=1400
CONFIG_LWIP_TCP_SND_BUF=21900
CONFIG_LWIP_TCP_WND=21900
CONFIG_LWIP_MEMP_NUM_NETBUF=32
CONFIG_LWIP_PBUF_POOL_SIZE=10
CONFIG_LWIP_TCP_SND_QUEUELEN=40
CONFIG_LWIP_MEMP_NUM_TCP_SEG=80
CONFIG_LWIP_TCP_RTO_TIMEOUT=3000
CONFIG_LWIP_TCP_SYNMAXRTX=6
CONFIG_LWIP_TCP_QUEUE_OOSEQ=y
CONFIG_LWIP_TCPIP_THREAD_STACKSIZE=768

CONFIG_RTC_ANA_WAKEUP_SUPPORT=y
CONFIG_AON_RTC=y
CONFIG_GPIO_WAKEUP_SUPPORT=y
CONFIG_GPIO_DYNAMIC_WAKEUP_SUPPORT=y

CONFIG_PSRAM=y
CONFIG_PSRAM_AS_SYS_MEMORY=y
CONFIG_PSRAM_WRITE_THROUGH=y
CONFIG_PSRAM_CALIBRATE=y
CONFIG_PSRAM_AUTO_DETECT=y

CONFIG_MAILBOX=y
CONFIG_MAILBOX_V2_0=y
CONFIG_MAILBOX_IPC=y

CONFIG_SPINLOCK=y
CONFIG_SPINLOCK_SECTION=y
CONFIG_SPINLOCK_DYNAMIC_CNT=512
CONFIG_SPINLOCK_STATIC_CNT=128
