menu "Adk::Audio_decoders::Opus_dec"
	config ADK_OPUS_DEC
		depends on ADK
		bool "Enable Audio Opus Decoder"
		default n

	config ADK_OPUS_DEC_TEST
		depends on ADK_OPUS_DEC && ADK_FRAME_ARRAY_STREAM && ADK_UART_STREAM
		bool "Enable Audio Opus Decoder test"
		default n

endmenu