menu "PBAP PCE Example Configuration"

    config PBAP_PCE_DEMO
        bool "pbap pce demo"
        depends on BT
        default y
        help
            PBAP PCE (Phone Book Access Profile - Phone Book Client) CLI demo.
            Enables pbap CLI commands for bk_dm_pbap_pce.h API functional testing.
endmenu
