menu "AVDK NN Module"

	config TFLM_PERSON_DETECTION_GRAY
		depends on TFLITE_MICRO
		bool "Use tflm person detection gray model with NV12 MP input"
		default n

	config TFLM_PERSON_DETECTION_RGB
		depends on TFLITE_MICRO
		bool "Use tflm person detection RGB model with BGRA MP input"
		default n

	config TFLM_PET_DETECTION_V1
		depends on TFLITE_MICRO
		bool "Enable tflm PET (cat/dog YOLOv8) detection"
		default n

	config TFLM_HAND_GESTURE_DETECTION_V1
		depends on TFLITE_MICRO
		bool "Enable tflm hand gesture (YOLOv8) detection"
		default n

	config TFLM_FACE_DETECTION_V1
		depends on TFLITE_MICRO
		bool "Enable tflm FACE_DETECTION_V2"
		default n

	config TFLM_GESTURE_DETECTION_V1
		depends on TFLITE_MICRO
		bool "Enable tflm GESTURE_DETECTION_V1"
		default n

	config TFLM_MOBILEFACENET_V1
		depends on TFLITE_MICRO
		bool "Enable tflm MOBILEFACENET_V1"
		default n

	config TFLM_YOLOFACE_V1
		depends on TFLITE_MICRO
		bool "Enable tflm YOLOFACE_V1"
		default n

	config TFLM_PALM_DETECTION_V1
		depends on TFLITE_MICRO
		bool "Enable tflm PALM_V1"
		default n

	config COMMON_LVGL_UI
		bool "Enable common LVGL UI"
		default y

	config AVDK_VIDEO_REATOR_OSD_WORKER_PRIORITY
		int "AVDK video reator OSD worker task priority"
		default 6

	config AVDK_VIDEO_REATOR_OSD_WORKER_STACK_SIZE
		int "AVDK video reator OSD worker task stack size"
		default 10240
endmenu
