menu "TIMER"
	config TIMER
		bool "Enable TIMER"
		default y

	config TIMER_COUNTER
		bool "Enable timer counter"
		default y

	config TIMER_SUPPORT_ID_BITS
		int "timer support id bits"
		range 0 262143
		default 0
		help
		Bitmask of supported timer IDs. 0 means all IDs are supported.
		For AP TIMER_ID12-17 use 258048 (0x3F000).

	config TIMER_US
		bool "Enable timer0 as microsecond timer"
		default n

	config TIMER_PM_CB_SUPPORT
		bool "Enable TIMER enter low voltage callback support"
		default n

	config TIMER_TEST
		depends on TIMER && DRIVER_TEST
		bool "Enable timer test"
		default y
endmenu
