menu "LE Audio Unicast Client Configuration"

    config LE_AUDIO_BROADCAST_NAME
        string "LE Audio device name"
        default "BK Unicast Client"

    config LE_AUDIO_SAMPLE_RATE
        int "LC3 sample rate"
        default 48000

    config LE_AUDIO_FRAME_US
        int "LC3 frame duration in us"
        default 10000

    config LE_AUDIO_FRAME_BYTES
        int "LC3 frame bytes"
        default 120

endmenu
